materialidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="empresa_sostenible">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="stakeholder" maxOccurs="unbounded">
          <xs:complexType mixed="true">
            <xs:attribute name="importancia" type="importanceType" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="tema_material" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="descripcion" type="xs:string"/>
              <xs:element name="impacto" type="impactoType"/>
            </xs:sequence>
            <xs:attribute name="nivel_asg" type="nivelASGType" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="importanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="alta"/>
      <xs:enumeration value="media"/>
      <xs:enumeration value="baja"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nivelASGType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ambiental"/>
      <xs:enumeration value="Social"/>
      <xs:enumeration value="Gobernanza"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="impactoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alto"/>
      <xs:enumeration value="Medio"/>
      <xs:enumeration value="Bajo"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
